body {
    font-family: monospace;
    background-color: antiquewhite;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#errorMessage {
    color: red;
    background-color: whitesmoke;
    align-self: left;
    margin: 0;
}

#newTaskForm {
    padding: 0;
    width: clamp(400px, 70%, 800px);
}

#newTaskForm input, #newTaskForm textarea {
    width: clamp(400px, 70%, 800px);
    margin-top: 1rem;
}

#newTaskDescription {
    min-height: 2rem;
    height: fit-content;
    justify-content: top;
}

#tasks {
    display: flex;
    flex-direction: row;
    align-items: left;
    background-color: white;
    width: clamp(400px, 70%, 800px);
   
}

#activeTasks {
    color: black;
    display: inline;
    list-style: none;   
}

li {
    border: 2px, solid, grey;
    border-radius: 15px;
    margin: 1rem;
    padding:1rem;
    
}